* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

span {
    color: #0ef;
}

.home-img img {
    width: 400px;
    border-radius: 50%;
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    color: #1f242d;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
}

.certificates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px;
}

.cert-box {
    background: #323946;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s ease;
}

.cert-box:hover {
    transform: scale(1.02);
    border: 1px solid #0ef;
}

.cert-box img {
    width: 250px;
    border-radius: 10px;
}
