body {
  margin: 0;
  font-family: Arial;
  background: #020617;
  color: white;
}

canvas {
  position: fixed;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: cyan;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.profile {
  width: 150px;
  border-radius: 50%;
  transition: 0.5s;
}

.profile:hover {
  transform: rotateY(180deg) scale(1.2);
}

.glow {
  text-shadow: 0 0 10px cyan;
}

.project-card {
  margin: 30px;
  padding: 30px;
  background: #0f172a;
  border-radius: 10px;
  transition: 0.4s;
}

.project-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px cyan;
}

.dark {
  background: white;
  color: black;
}
